body {
  margin: 0;
  overflow: hidden;
}

#index {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;

}

.blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.9);
}

.sidebar {
  height: 90%;
  width: 20%;
  background: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

#sidebar-divider {
  border: 0.5px solid grey;
  width: 100%;
  align-self: center;
  margin-bottom: 10px;
}

.sidebar-item {
  color: #969696;
  display: flex;
  cursor: pointer;
}

.sidebar-item:hover {
  color: white;
}

#playlists {
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  font-size: 14px;
}

#dashboard {
  height: 90%;
  width: 50%;
  background: #121212;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
}

#search-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* border: 1px solid white; */
  /* position: absolute; */
  width: 50vw;
  /* min-height: 100%; */
  align-items: center;
  /* z-index: 1; */
}

#search-results-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 80%;
  max-height: 34.85%;
  overflow-y: scroll;
  z-index: 1;
  border-radius: 1%;

}

#search {
  width: 80%;
  background: white;
  border-radius: 5px;
}

.search-result-item {
  background-color: white;
  min-height: 90px;
  max-height: 90px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  border: 1px solid grey;
  padding-left: 2.5%;
  padding-right: 2.5%;
  /* gap: 2.5%; */
  border-radius: 5px;
}

.track-info {
  max-height: 100%;
  min-width: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: 2.5%;

}

.search-track-name {
  font-size: 16px;
}

.search-artist-name {
  font-size: 14px;
  color: #969696;
}

.search-album-name {
  font-size: 14px;
  color: #969696;
}

.play-queue-icon {
  height: 40%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.queue {
  margin-left: 2.5%;

}

.play {
  height: 50%;
}

#list-container {
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  /* border: 1px solid grey; */
  justify-content: flex-start;
  /* margin-top: -10px; */
}

#list-items {
  height: 95%;
  width: 100%;
  margin-top: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5%;
}

.tile-title {
  width: 100%;
  height: 7.5%;
  color: white;
  display: flex;
  align-items: flex-end;
}

.playlist-tile {
  aspect-ratio: 1 / 1;
  width: 47.5%;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #252525;
  gap: 5%;
  padding: 2.5%;
  grid-column: tiles;
  cursor: pointer;
}

.playlist-artwork {
  aspect-ratio: 1 / 1;
  width: 100%;
  border: 1px solid white;
  border-radius: 2.5px;

}

.playlist-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.playlist-description {
  margin-top: -5%;
  overflow: hidden;
  color: #969696;
}

#currently-playing {
  height: 90%;
  width: 30%;
  background: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 25px;
  gap: 5%;
}

.currently-playing-content {
  padding-left: 5%;
}

#currently-playing-artwork {
  aspect-ratio: 1 / 1;
  height: 80%;
  border: 1px solid white;
  align-self: center;
}

#judgement-container {
  height: 25%;
  padding-left: 10%;
  padding-right: 10%;
  align-self: center;
}

#player {
  width: 100%;
  height: 10%;
  color: white;
  background: #121212;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

#center {
  width: 5px;
  height: 5px;
}

#media-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#volume-controls {
  display: flex;
  justify-content: flex-end;
}